.cal{
   padding: 125px 425px;
}
input[type="text"] { 
           padding: 20px 70px; 
            font-size: 24px; 
            font-weight: bold;  
            border: none; 
            border-radius: 5px; 
            border: 2px solid black; 
        }
 input[type="button"] { 
            width: 100%; 
            padding: 20px 30px; 
            background-color:black; 
            color: white; 
            font-size: 24px; 
            font-weight: bold; 
            border: none; 
            border-radius: 5px;
        } 
#x{
  background-color:red
}
#cx{
  background-color:grey
}